// =========================================================
// * Volt React Dashboard
// =========================================================

// * Product Page: https://themesberg.com/product/dashboard/volt-react
// * Copyright 2021 Themesberg (https://www.themesberg.com)
// * Official Repository: https://github.com/themesberg/volt-react-dashboard
// * License: MIT License (https://themesberg.com/licensing)

// * Designed and coded by https://themesberg.com

// =========================================================

// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Please contact us to request a removal.

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800&display=swap');

// // Bootstrap mixins and functions
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/functions";

// // Change variables here
@import "volt/variables";

// // Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

// // // Vendor
// @import "volt/vendor";

// // volt mixins & functions
@import "volt/mixins";
// @import "volt/functions";

// // // Utilities
// @import "volt/reboot";
// @import "volt/utilities";

// Layout
@import "volt/layout";

// Components
@import "volt/components";

// write your custom styles here!

$primary-color:#283448 !important;
$secondary-color:#ce0e0e !important;
$text-color: #ffffff !important;

.table {
  font-size: 0.75rem;
  border: 1px solid #454d55;
  border-radius: 10px;
}

.centerDiv {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: inherit
}

.primaryColor{
  background-color: $primary-color;
  color: $text-color;
}

.secondaryColor{
  background-color: $secondary-color;
  color: $text-color;
}

.secondaryColorText{
  color: $secondary-color;
}

#primaryColor{
  background-color: $primary-color;
  color: $text-color;
}

#secondaryColor{
  background-color: $secondary-color;
  color: $text-color;
}

#secondaryColorText{
  color: $secondary-color;
}

#mapbox { position: absolute; top: 0; bottom: 0; left: 0; width: 100%; }

.hide-button {
  display: inline-flex;
}
.show-button {
  display: none;
}

@media(max-width: 900px) {
  .hide-button {
      display: none;
  }
  .show-button {
    display: inline-flex;
  }
}
